<h1>Segmenting and Clustering Neighborhoods in Toronto</h1>

In [46]:
import pandas as pd

<h5> Reading the tables present in the website to the Pandas Dataframe</h5>

In [47]:
postal_codes = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]
postal_codes.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

<h5>Deleting the items with Borough value as 'Not assigned'</h5>

In [48]:
indexNames = postal_codes[ postal_codes['Borough'] == 'Not assigned' ].index

In [49]:
postal_codes.drop(indexNames , inplace=True)

<h5>The Final data present in the Postal Codes Dataframe</h5>

In [72]:
postal_codes.head(10)

   Postal Code           Borough                                 Neighborhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke      Islington Avenue, Humber Valley Village
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills
12         M4B         East York              Parkview Hill, Woodbine Gardens
13         M5B  Downtown Toronto                     Garden District, Ryerson

<h5>Number of entries present in the Dataframe</h5>

In [59]:
postal_codes.shape

(103, 3)

<h5>Reading the CSV file of Geospatial Data into new Dataframe</h5>

In [62]:
geospatial_data = pd.read_csv("Desktop\Geospatial_Coordinates.csv")
geospatial_data.head(10)

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476
5         M1J  43.744734 -79.239476
6         M1K  43.727929 -79.262029
7         M1L  43.711112 -79.284577
8         M1M  43.716316 -79.239476
9         M1N  43.692657 -79.264848

<h5>Number of entries present in the Dataframe</h5>

In [63]:
geospatial_data.shape

(103, 3)

<h5>Merging both the Dataframes</h5>

In [71]:
aggregated_data = postal_codes.merge(geospatial_data, on='Postal Code', how='left')
aggregated_data.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494